<svg >
<symbol id="Cabin1">
<polygon id="zwei" points="1100,500 1200,500 1200,600 1100,600 1100,500" fill="#dfac20"/>
<polygon id="drei" points="1100,500 1150,450 1250,450 1200,500" fill="#dfac20"/>
<polygon id="drei" points="1200,500 1250,450 1250,550 1200,600 1200,500" fill="#dfac20"/>
<text role="heading" x="1150" y="570">=</text>
</symbol>
<symbol id="Cabin2">
<polygon id="zwei" points="1100,500 1200,500 1200,600 1100,600 1100,500" fill="#dfac20"/>
<polygon id="drei" points="1100,500 1150,450 1250,450 1200,500" fill="#dfac20"/>
<polygon id="drei" points="1200,500 1250,450 1250,550 1200,600 1200,500" fill="#dfac20"/>
<text role="heading" x="1150" y="570">T</text>
</symbol>
<symbol id="Cabin3">
<polygon id="zwei" points="1100,500 1200,500 1200,600 1100,600 1100,500" fill="#dfac20"/>
<polygon id="drei" points="1100,500 1150,450 1250,450 1200,500" fill="#dfac20"/>
<polygon id="drei" points="1200,500 1250,450 1250,550 1200,600 1200,500" fill="#dfac20"/>
<text role="heading" x="1150" y="570">E</text>
</symbol>
<symbol id="Cabin4">
<polygon id="zwei" points="1100,500 1200,500 1200,600 1100,600 1100,500" fill="#dfac20"/>
<polygon id="drei" points="1100,500 1150,450 1250,450 1200,500" fill="#dfac20"/>
<polygon id="drei" points="1200,500 1250,450 1250,550 1200,600 1200,500" fill="#dfac20"/>
<text role="heading" x="1150" y="570">I</text>
</symbol>
<symbol id="Cabin5">
<polygon id="zwei" points="1100,500 1200,500 1200,600 1100,600 1100,500" fill="#dfac20"/>
<polygon id="drei" points="1100,500 1150,450 1250,450 1200,500" fill="#dfac20"/>
<polygon id="drei" points="1200,500 1250,450 1250,550 1200,600 1200,500" fill="#dfac20"/>
<text role="heading" x="1150" y="570">L</text>
</symbol>
<symbol id="Cabin6">
<polygon id="zwei" points="1100,500 1200,500 1200,600 1100,600 1100,500" fill="#dfac20"/>
<polygon id="drei" points="1100,500 1150,450 1250,450 1200,500" fill="#dfac20"/>
<polygon id="drei" points="1200,500 1250,450 1250,550 1200,600 1200,500" fill="#dfac20"/>
<text role="heading" x="1150" y="570">(</text>
</symbol>
<symbol id="Cabin7">
<polygon id="zwei" points="1100,500 1200,500 1200,600 1100,600 1100,500" fill="#dfac20"/>
<polygon id="drei" points="1100,500 1150,450 1250,450 1200,500" fill="#dfac20"/>
<polygon id="drei" points="1200,500 1250,450 1250,550 1200,600 1200,500" fill="#dfac20"/>
<text role="heading" x="1150" y="570">C</text>
</symbol>
<symbol id="Cabin8">
<polygon id="zwei" points="1100,500 1200,500 1200,600 1100,600 1100,500" fill="#dfac20"/>
<polygon id="drei" points="1100,500 1150,450 1250,450 1200,500" fill="#dfac20"/>
<polygon id="drei" points="1200,500 1250,450 1250,550 1200,600 1200,500" fill="#dfac20"/>
<text role="heading" x="1150" y="570">2</text>
</symbol>
<symbol id="Cabin9">
<polygon id="zwei" points="1100,500 1200,500 1200,600 1100,600 1100,500" fill="#dfac20"/>
<polygon id="drei" points="1100,500 1150,450 1250,450 1200,500" fill="#dfac20"/>
<polygon id="drei" points="1200,500 1250,450 1250,550 1200,600 1200,500" fill="#dfac20"/>
<text role="heading" x="1150" y="570">;</text>
</symbol>
<symbol id="Cabin10">
<polygon id="zwei" points="1100,500 1200,500 1200,600 1100,600 1100,500" fill="#dfac20"/>
<polygon id="drei" points="1100,500 1150,450 1250,450 1200,500" fill="#dfac20"/>
<polygon id="drei" points="1200,500 1250,450 1250,550 1200,600 1200,500" fill="#dfac20"/>
<text role="heading" x="1150" y="570">3</text>
</symbol>
<symbol id="Cabin11">
<polygon id="zwei" points="1100,500 1200,500 1200,600 1100,600 1100,500" fill="#dfac20"/>
<polygon id="drei" points="1100,500 1150,450 1250,450 1200,500" fill="#dfac20"/>
<polygon id="drei" points="1200,500 1250,450 1250,550 1200,600 1200,500" fill="#dfac20"/>
<text role="heading" x="1150" y="570">;</text>
</symbol>
<symbol id="Cabin12">
<polygon id="zwei" points="1100,500 1200,500 1200,600 1100,600 1100,500" fill="#dfac20"/>
<polygon id="drei" points="1100,500 1150,450 1250,450 1200,500" fill="#dfac20"/>
<polygon id="drei" points="1200,500 1250,450 1250,550 1200,600 1200,500" fill="#dfac20"/>
<text role="heading" x="1150" y="570">7</text>
</symbol>
<symbol id="Cabin13">
<polygon id="zwei" points="1100,500 1200,500 1200,600 1100,600 1100,500" fill="#dfac20"/>
<polygon id="drei" points="1100,500 1150,450 1250,450 1200,500" fill="#dfac20"/>
<polygon id="drei" points="1200,500 1250,450 1250,550 1200,600 1200,500" fill="#dfac20"/>
<text role="heading" x="1150" y="570">)</text>
</symbol>
<symbol id="Cabincoordinator">
<polygon id="zwei" points="700,800 750,750 900,750 850,800 700,800" fill="#3ce020"/>
</symbol>
<polygon id="zwei" points="650,550 850,550 850,3150 650,3150 650,550" fill="#3ce020"/>
<polygon id="zwei" points="600,600 650,550 850,550 800,600 600,600" fill="#3ce020"/>
<polygon id="zwei" points="600,800 650,750 850,750 800,800 600,800" fill="#3ce020"/>
<polygon id="zwei" points="600,1000 650,950 850,950 800,1000 600,1000" fill="#3ce020"/>
<polygon id="zwei" points="600,1200 650,1150 850,1150 800,1200 600,1200" fill="#3ce020"/>
<polygon id="zwei" points="600,1400 650,1350 850,1350 800,1400 600,1400" fill="#3ce020"/>
<polygon id="zwei" points="600,1600 650,1550 850,1550 800,1600 600,1600" fill="#3ce020"/>
<polygon id="zwei" points="600,1800 650,1750 850,1750 800,1800 600,1800" fill="#3ce020"/>
<polygon id="zwei" points="600,2000 650,1950 850,1950 800,2000 600,2000" fill="#3ce020"/>
<polygon id="zwei" points="600,2200 650,2150 850,2150 800,2200 600,2200" fill="#3ce020"/>
<polygon id="zwei" points="600,2400 650,2350 850,2350 800,2400 600,2400" fill="#3ce020"/>
<polygon id="zwei" points="600,2600 650,2550 850,2550 800,2600 600,2600" fill="#3ce020"/>
<polygon id="zwei" points="600,2800 650,2750 850,2750 800,2800 600,2800" fill="#3ce020"/>
<polygon id="zwei" points="600,3000 650,2950 850,2950 800,3000 600,3000" fill="#3ce020"/>
<polygon id="zwei" points="600,3200 650,3150 850,3150 800,3200 600,3200" fill="#3ce020"/>
<polygon id="zwei" points="600,600 800,600 800,3200  1600,3200 1600,600 1800,600 1800,3600 600,3600 600,600 " fill="#3ce020"/>
<use xlink:href="#Cabincoordinator">
    <animateMotion begin="2s" dur="3s" fill="freeze" 
     path="M0,0 h100 v200"/>
</use>
<use xlink:href="#Cabin1">
    <animateMotion begin="0s" dur="3s" fill="freeze" 
     path="M0,0 h300 v250"/>
    <animateMotion begin="4s" dur="3s" fill="freeze" 
     path="M300,250 h-200 v-50 h-400 "/>
</use>
<use xlink:href="#Cabin2">
    <animateMotion begin="0s" dur="3s" fill="freeze" 
     path="M200,0 h300 v250"/>
    <animateMotion begin="4s" dur="3s" fill="freeze" 
     path="M500,250 v150 h-800 "/>
</use>
<use xlink:href="#Cabin3">
    <animateMotion begin="0s" dur="3s" fill="freeze" 
     path="M400,0 h300 v250"/>
    <animateMotion begin="4s" dur="3s" fill="freeze" 
     path="M700,250 v350 h-1000 "/>
    <animateMotion begin="8s" dur="2s" fill="freeze" 
     path="M-300,600  h50 v-100 "/>
</use>
<use xlink:href="#Cabin4">
    <animateMotion begin="0s" dur="3s" fill="freeze" 
     path="M600,0 h300 v250"/>
    <animateMotion begin="4s" dur="3s" fill="freeze" 
     path="M900,250 v550 h-1200 "/>
</use>
<use xlink:href="#Cabin5">
    <animateMotion begin="0s" dur="3s" fill="freeze" 
     path="M800,0 h300 v250"/>
    <animateMotion begin="4s" dur="3s" fill="freeze" 
     path="M1100,250 v750 h-1400 "/>
</use>
<use xlink:href="#Cabin6">
    <animateMotion begin="0s" dur="3s" fill="freeze" 
     path="M1000,0 h300 v250"/>
    <animateMotion begin="4s" dur="3s" fill="freeze" 
     path="M1300,250 v950 h-1600 "/>
</use>
<use xlink:href="#Cabin7">
    <animateMotion begin="0s" dur="3s" fill="freeze" 
     path="M1200,0 h300 v250"/>
    <animateMotion begin="4s" dur="3s" fill="freeze" 
     path="M1500,250 v1150 h-1800 "/>
</use>
<use xlink:href="#Cabin8">
    <animateMotion begin="0s" dur="3s" fill="freeze" 
     path="M1400,0 h300 v250"/>
    <animateMotion begin="4s" dur="3s" fill="freeze" 
     path="M1700,250 v1350 h-2000 "/>
</use>
<use xlink:href="#Cabin9">
    <animateMotion begin="0s" dur="3s" fill="freeze" 
     path="M1600,0 h300 v250"/>
    <animateMotion begin="4s" dur="3s" fill="freeze" 
     path="M1900,250 v1550 h-2200 "/>
</use>
<use xlink:href="#Cabin10">
    <animateMotion begin="0s" dur="3s" fill="freeze" 
     path="M1800,0 h300 v250"/>
    <animateMotion begin="4s" dur="3s" fill="freeze" 
     path="M2100,250 v1750 h-2400 "/>
</use>
<use xlink:href="#Cabin11">
    <animateMotion begin="0s" dur="3s" fill="freeze" 
     path="M2000,0 h300 v250"/>
    <animateMotion begin="4s" dur="3s" fill="freeze" 
     path="M2300,250 v1950 h-2600 "/>
</use>
<use xlink:href="#Cabin12">
    <animateMotion begin="0s" dur="3s" fill="freeze" 
     path="M2200,0 h300 v250"/>
    <animateMotion begin="4s" dur="3s" fill="freeze" 
     path="M2500,250 v2150 h-2800 "/>
</use>
<use xlink:href="#Cabin13">
    <animateMotion begin="0s" dur="3s" fill="freeze" 
     path="M2400,0 h300 v250"/>
    <animateMotion begin="4s" dur="3s" fill="freeze" 
     path="M2700,250 v2350 h-3000 "/>
</use>
  </svg>
<style>
svg {
	background: white;
	width: 335%;
	height: 30000px;
}
#zwei {
	stroke: #DF4C20;
	stroke-width: 5;
}
#drei {
	stroke: #DF4C20;
	stroke-width: 5;
}
#vier {
	stroke: blue;
	stroke-width: 5;
}
[role=heading] {
	font-size: 50px;
	text-anchor: middle;
	fill: var(--yellow);
	stroke: var(--blue);
	stroke-width: 2;
}
</style>